<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>{{restaurant.name}}</h1>
            </div>

            {% if  not items[0] %}
                <p>You currently have no menu items.</p>
            {% endif %}

            <!-- Link to newmenuitem.html -->
            <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}">Create New Item</a>
            <br>
            <br>

            <div class="block">
                {% block content %}
                    <div class="msgs">
                        {% include 'messages.html' %}
                    </div>

                    <div class="customform">
                        {% for i in items %}
                            {% if  i.id == '3'  or items.length == 0 %}

                            {% else %}
                                <h3>{{i.course}}</h3>
                            {% endif %}

                            <div>
                                {{i.name}}
                                </br>

                                {{i.description}}
                                </br>

                                {{i.price}}
                                <!-- Edit/Delete buttons -->
                                </br>
                                <a href='#'> Edit Item</a>
                                </br>
                                <a href='#'> Delete Item</a>
                                </br>
                                </br>
                            </div>

                        {% endfor %}
                    </div>

                {% endblock %}
            </div>
        </div>
    </body>
</html>