<html>
    <body>
        <div class="container">
            <div class="header">
                <h1>{{title}}</h1>
            </div>
            <div class="block">
                {% block content %}
                    <div class="msgs">
                        {% include 'messages.html' %}
                    </div>

                    <div class="customform">

                        <form action="#" method="POST">

                            <p>Name:</p>
                                <input type="text" size="30" name="name">

                            <p>Description:</p>
                                <input type="text" size="30" name="description">

                            <p>Price:</p>
                                <input type="text" size="30" name="price">

                            <p>Course:</p>
                                <input type="radio" id="Appetizer" name= "course" value="Appetizer">
                                <label for="Appetizer">Appetizer</label>
                                <br>

                                <input type="radio" id="Entree" name= "course" value="Entree">
                                <label for="Entree">Entree</label>
                                <br>

                                <input type="radio" id="Dessert" name= "course" value="Dessert">
                                <label for="Dessert">Dessert</label>
                                <br>

                                <input type="radio" id="Beverage" name= "course" value="Beverage">
                                <label for="Beverage">Beverage</label>
                                <br>
                                <br>
                            <input type="submit" value="Create">
                            <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>
                        </form>
                    </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
