<html>
	<head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="flex-container">
	    	<header>
	        	<h1>{{title}}</h1>
	        </header>
	        <div class="block">
	            {% block content %}
	            	<div class="msgs">
	                	{% include 'messages.html' %}
	                </div>

	                <div class="customform">
				        <form action="{{url_for('newRestaurant')}}" method="post">

				            <p>Restaurant Name:</p>
				                <input type="text" size="80" name="name">
				            <p>Street:</p>
				                <input type="text" size="80" name="street">
				            <p>City:</p>
				                <input type="text" size="80" name="city">
				            <p>State:</p>
				                <input type="text" size="2" name="state">
				            <p>Zip Code:</p>
				                <input type=number name="zipCode">
				            <p>Phone:</p>
				                <input type="text" size="10" name="phone">
				            <p>Email:</p>
				                <input type="text" size="50" name="email">
				            <p>Website:</p>
				                <input type="text" size="50" name="website">
				            <p>Cuisine:</p>
				                <input type="text" size="80" name="cuisine">
				            <p>Description:</p>
				                <input type="text" size="160" name="description">
				            <p>Delivery:</p>
				                <input type="text" size="3" name="delivery">
				            <br>
				            <br>
				            <input type="submit" value="Create">
				            <a href="{{url_for('showRestaurants')}}">Cancel</a>
				        </form>
				    </div>
			    {% endblock %}
			</div>
	    </div>
    </body>
</html>