<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <h1>Restaurants</h1>

        {% for i in restaurant %}
            <div>
                {{i.name}}
                </br>

                <!-- Insert Code here -->
                </br>
                <a href='#'> Edit Restaurant</a>
                </br>
                </br>
                <a href='#'> Delete Restaurant</a>


                </br>
                </br>
            </div>
        {% endfor %}
    </body>
</html>